.categoryList {
  display: flex;
  overflow-x: auto;
  gap: 2px;
  padding: 5px 0;
  padding-top: 5px;
  width: 100%;
}
  
.categoryItem {
  text-align: center;
  cursor: pointer;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100px;
}
  
.categoryItem.active {
  border-bottom: 2px solid black;
}
  
.categoryImage {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}
  
.foodList {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  gap: 16px;
  padding: 16px 0;
  padding-top: 2px;
}
  
.foodItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  background-color: #F0E680;
}
  
.foodItem:hover {
  transform: scale(1.10);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.foodImage {
  width: 100%;
  /* height: auto; */
  height: 140px;
  max-height: 160px;
  /* object-fit: contain; */
  object-fit: cover;
  border-radius: 8px;
  background-color: #f8f8f8;
  
}
  
.foodName {
  margin-top: 8px;
  font-weight: bold;
}

.orderZone {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 300px; /* Giới hạn chiều cao */
  overflow-y: auto; /* Cho phép cuộn dọc nếu vượt quá chiều cao */
  background-color: white; /* Đặt màu nền trắng để dễ nhìn */
}

.orderZone table {
  width: 100%;
  border-collapse: collapse;
}

.orderZone th, .orderZone td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.totalAmount {
  font-weight: bold;
  margin-top: 1rem;
  text-align: right;
  position: sticky; /* Giữ tổng tiền luôn hiển thị ở cuối */
  bottom: 0;
  background-color: white;
  padding: 0.5rem;
}

@media (max-width: 1024px) {
  .foodList {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

@media (max-width: 768px) {
  .foodList {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}


.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.quantity-control button:hover {
  background-color: #ddd;
}

.quantity-number {
  min-width: 24px;
  text-align: center;
  font-weight: bold;
}
